{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}
  You regitered successfully!
{% endblock title %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}">
{% endblock site_css %}
  
{% block main_heading %}
  Thanks for sigining up!
{% endblock main_heading %}


{% block body %}
  <section id="confirmation">
    <h2> You regitered successfully!</h2>
    <p>Thanks for signing up - see you at the meetup!</p>
    <p>Got questions or can't make it? Please <a href="mailto:{{organizer_email}}">contact the organizer</a> ahead of time!</p>      
  </section>
  <section id="continue">
    <p>Of course you can sign up for more than one meetup!</p>
    <p><a href="/meetups" class="btn">Explore our Meetups</a></p>
  </section>
{% endblock body %}
  